h1 {
  color: #00bbf0;
  margin-bottom: 0px;
  position: relative;
  bottom: 50px;
  display: block;
}

li {
  list-style: none;
  font-size: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

button {
  position: relative;
  left: 400px;
  bottom: 38px;
}
.app-wrapper {
  max-width: 500px;
  max-height: 800px;
  margin: 20px auto;
  margin-bottom: 0px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  background-image: url(./images/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 350px;
}
.input-group {
  position: relative;
  left: 180px;
}
.weatherNow {
  position: relative;
  bottom: 50px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
}
.row {
  padding: 0px;
}
.temperature {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  bottom: 30px;
  left: 50px;
}
.degrees {
  position: relative;
  bottom: 40px;
  left: 45px;
}
.weather-icon {
  position: relative;
  left: 65px;
  bottom: 40px;
}
.weatherCondition {
  position: relative;
  bottom: 20px;
}

.weatherForecast {
  text-align: center;
  position: relative;
  bottom: 40px;
  font-weight: bold;
}
.weather-forecast-day {
  font-size: 15px;
  opacity: 0.7;
}
.weather-forecast-temp {
  font-size: 12px;
}
.weather-forecast-temp-min {
  opacity: 0.7;
}

.sideComment {
  margin-left: 325px;
  margin-top: 0px;
  text-align: left;
}
